<!DOCTYPE html>

<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
    <img src="/assets/banner.jpg" alt="Tripedia logo" width='1000px'>
    <body>
      <p>Hey <%= @user.name %>,</p>
      <p>Check out your trip & all the places you can check out!</p>

    </body>
</html>
